doctype html
html
	head
		title= pageTitle
		meta(charset="UTF-8")
		link(rel="stylesheet" href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet" href="css/bootstrap.min.css")
	body
		include partials/navbar.pug
		include mixins/product-card.pug
		include mixins/feature-card.pug

		div(style="min-height: calc(100vh - 390px)")
			block content

		include partials/footer.pug